redis>=5.0.0
rq>=1.15.0
fastapi>=0.70.0
uvicorn>=0.15.0
streamlit
langchain_openai
langgraph==0.3.2
trustcall
langchain_core
requests
uvicorn
fastapi
streamlit
langchain_google_genai
pandas
sentence-transformers
langchain-huggingface
python-multipart
psycopg[binary]